* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 10px;
}

table {
  width: 80%;
  margin: auto;
  border: 2px solid red;
  margin-top: 30px;
  border-collapse: collapse;
  background-color: skyblue;
}

td {
  border: 1px dotted red;
  text-align: center;
}

th {
  color: rgb(56, 7, 7);
  border: red 2px solid;
  background-color: rgb(231, 188, 188);
}
